@import url("https://fonts.googleapis.com/css?family=Montserrat:,300,400,500,");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: url(../images/grad.jpg) no-repeat center 75%;
}

ul {
  padding: 0;
}

/*--Landing page styling--*/
#landing-img {
  background: url(../images/grad.jpg) no-repeat center 75%;
  /* background: linear-gradient(to bottom, rgba(136, 136, 136, 0.2) 0%, rgba(73, 65, 59, 0.2) 100%), url(../images/sb.jpg) no-repeat center 75%; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  filter: grayscale(20%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*--Landing page text--*/

#landing-text {
  color: #ffffff;
  font-size: 4rem;
  text-shadow: 0px 3px 3px #e9ecef6b;
}

#landing-sub {
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 0px 3px 3px #e9ecef6b;
}

#dropdown {}

.form-boxes {
  width: 400px;
}

/*--Instructions Text--*/
.underline {
  text-decoration: underline;
  text-shadow: 0px 3px 3px #e9ecef6b;
}

.instructions-head {}

#instructions {
  color: #ffffff;
  font-size: 1.2rem;
  text-shadow: 0px 3px 3px #e9ecef6b;
}

.instructions-list-text {
  color: #ffffff;
  font-size: 1.2rem;
  list-style-type: none;
  text-shadow: 0px 3px 3px #e9ecef6b;
}

/*--Game Page text--*/

.answer {
  color: #ffffff;
  font-size: 1.5rem;
  background-color: aqua;
  height: 100px;
  padding: 30px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

/* .answer:hover {
  background-color: #ffffff;
  color: aqua;
} */

#question {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 40px;
}

#questions-main {
  display: none;
  padding-top: 120px;
}

#opening-game {
  display: block;
}

#dropdown-boxes {
  display: block;
}

#play-again-buttons {
  display: none;
}

#score-counter {
  color: #ffffff;
  float: right;
  display: none;
}

#score-number {
  font-size: 23px;
}

/*--Footer Icons--*/
#footer-main {
  display: block;
}

.github {
  font-size: 5rem;
  color: #ffffff;
  padding-right: 10px;
  padding-top: 20px;
}

.slack {
  font-size: 5rem;
  color: #ffffff;
  padding-right: 10px;
  padding-top: 20px;
}

.landing-footer {
  background-color: #292e2f;
}

.correct-answer {
  color: #ffffff;
  background-color: #00ff00;
}

.wrong-answer {
  color: #ffffff;
  background-color: red;
}