@import url("https://fonts.googleapis.com/css?family=Roboto:,300,400,500,");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: url(../images/grad.jpg) no-repeat center 75%;
  background-size: cover;
  height: 100vh;
}

ul {
  padding: 0;
}

/*--Landing page styling--*/
#landing-img {
  background: url(../images/grad.jpg) no-repeat center 75%;
  /* background: linear-gradient(to bottom, rgba(136, 136, 136, 0.2) 0%, rgba(73, 65, 59, 0.2) 100%), url(../images/sb.jpg) no-repeat center 75%; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  filter: grayscale(20%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*--Landing page text--*/

#landing-text {
  padding-top: 40px;
  font-weight: 300;
  color: #2fb9c4;
  font-size: 2rem;
}

#landing-sub {
  font-weight: 300;
  padding: 20px 20px;
  color: #ffffff;
  font-size: 1rem;
}

.dropdown {
  width: 350px;
}

#difficulty {
  width: 350px;
}
#categories {
  overflow-x: hidden !important;
  overflow: scroll !important;
  margin-bottom: 10px;
  width: 350px;
}

.form-boxes {
  width: 400px;
}

/*--Instructions Text--*/
.underline {
  text-decoration: underline;
}

#instructions {
  color: #ffffff;
  font-weight: 300;
  font-size: 1rem;
}

.instructions-list-text {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  list-style-type: none;
}

/*--Game Page text--*/

.answer {
  color: #000000;
  font-size: 1rem;
  background-color: #ffffff;
  height: 70px;
  width: 250px;
  margin: 2px;
  border-radius: 35px;
  cursor: pointer;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

#question {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 20px 40px 5px 40px;
}

#questions-main {
  display: none;
}

#opening-game {
  display: block;
}

#dropdown-boxes {
  display: block;
}

#playAgain {
  margin-top: 10px;
}

#play-again-buttons {
  display: none;
  padding-top: 50px;
}

.button-style {
  color: #000000;
  margin: 5px;
}

.button-style a {
  color: #000000 !important;
  text-decoration: none !important;
}

#end-game-container {
  color: #ffffff;
  display: block;
}

#congrats-text {
  display: none;
  font-weight: 300;
  text-align: center;
  padding-top: 200px;
  font-size: 1.5rem;
}

#score-counter {
  color: #ffffff;
  text-align: center;
  display: none;
  padding-top: 20px;
}

#score-number {
  font-size: 1rem;
  font-weight: 300;
}

.score-text {
  font-size: 1rem;
  font-weight: 300;
}

/*--Footer Icons--*/
#footer-main {
  display: block;
}

.github {
  font-size: 5rem;
  color: #ffffff;
  padding-right: 10px;
  padding-top: 20px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.github:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  color: #2fb9c4;
}

.slack {
  font-size: 5rem;
  color: #ffffff;
  padding-right: 10px;
  padding-top: 20px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.slack:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  color: #2fb9c4;
}

.landing-footer {
  background-color: #292e2f;
}

.correct-answer {
  color: #ffffff;
  background-color: #00ff00;
}

.wrong-answer {
  color: #ffffff;
  background-color: #ff0000;
}

.modal-footer a {
  color: #ffffff !important;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;

  height: 80px;
  width: 80px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #2fb9c4;
  animation: spinner 0.7s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 320px) {
  body {
    background: url(../images/grad.jpg) no-repeat center 75%;
    background-size: cover;
    height: 150vh;
  }

  #categories {
    width: 280px;
  }

  #difficulty {
    width: 280px;
  }
  .answer {
    font-size: 0.7rem;
    height: 60px;
    width: 250px;
    margin-top: 2px;
  }

  #question {
    font-size: 1rem;
    padding: 20px 10px 10px 10px;
  }

  #congrats-text {
    padding-top: 400px;
    font-size: 1.7rem;
  }

  #congrats-text {
    padding-top: 80px;
    font-size: 1.5rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 560px) {
  .answer {
    font-size: 1rem;
    height: 150px;
    width: 250px;
    margin-top: 25px;
  }

  #question {
    font-size: 1.3rem;
    padding: 200px 40px 20px 40px;
  }

  #congrats-text {
    padding-top: 400px;
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 768px) {
  #question {
    font-size: 1.3rem;
    padding: 200px 40px 20px 40px;
  }

  #congrats-text {
    padding-top: 400px;
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1280px) {
  #landing-text {
    font-size: 3rem;
  }

  #landing-sub {
    font-size: 1.3rem;
  }
  #instructions {
    color: #ffffff;
    font-weight: 300;
    font-size: 1.2rem;
  }

  .instructions-list-text {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 300;
    list-style-type: none;
  }

  #question {
    font-size: 2.3rem;
    padding: 150px 40px 40px;
    font-weight: 300;
  }

  .answer {
    font-size: 1.3rem;
    font-weight: 300;
    height: 150px;
    width: 350px;
    margin-top: 25px;
  }

  #congrats-text {
    padding-top: 400px;
    font-size: 2.3rem;
    font-weight: 300;
  }

  #score-counter {
    padding-top: 50px;
  }

  .score-text {
    font-size: 2rem;
  }

  #score-number {
    font-size: 2rem;
  }
}
