@import url("https://fonts.googleapis.com/css?family=Montserrat:,300,400,500,");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: url(../images/grad.jpg) no-repeat center 75%;
  background-size: cover;
  height: 120vh;
}

ul {
  padding: 0;
}

/*--Landing page styling--*/
#landing-img {
  background: url(../images/grad.jpg) no-repeat center 75%;
  /* background: linear-gradient(to bottom, rgba(136, 136, 136, 0.2) 0%, rgba(73, 65, 59, 0.2) 100%), url(../images/sb.jpg) no-repeat center 75%; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  filter: grayscale(20%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*--Landing page text--*/

#landing-text {
  padding-top: 40px;
  color: #ffffff;
  font-size: 2rem;
}

#landing-sub {
  padding: 20px 20px;
  color: #ffffff;
  font-size: 1rem;
}

.dropdown {
  width: 350px;
}

#categories {
  height: auto;
  overflow-x: hidden !important;
  overflow: scroll !important;
  margin-bottom: 10px;
}

.form-boxes {
  width: 400px;
}

/*--Instructions Text--*/
.underline {
  text-decoration: underline;
}

.instructions-head {
}

#instructions {
  color: #ffffff;
  font-size: 1rem;
}

.instructions-list-text {
  color: #ffffff;
  font-size: 1rem;
  list-style-type: none;
}

/*--Game Page text--*/

.answer {
  color: #000000;
  font-size: 1rem;
  background-color: #ffffff;
  height: 100px;
  width: 300px;
  margin: 2px;
  border-radius: 35px;
  cursor: pointer;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

/* .answer:hover {
  background-color: #ffffff;
  color: aqua;
} */

#question {
  color: #ffffff;
  font-size: 1.1rem;
  padding: 40px 40px 5px 40px;
}

#questions-main {
  display: none;
}

#opening-game {
  display: block;
}

#dropdown-boxes {
  display: block;
}

#playAgain {
  margin-top: 10px;
}

#play-again-buttons {
  display: none;
  padding-top: 50px;
}

.button-style {
  color: #000000;
}

.button-style a {
  color: #000000 !important;
}

#end-game-container {
  color: #ffffff;
  display: block;
}

#congrats-text {
  display: none;
  text-align: center;
  padding-top: 200px;
  font-size: 1.5rem;
}

#score-counter {
  color: #ffffff;
  text-align: center;
  display: none;
  padding-top: 20px;
}

#score-number {
  font-size: 1rem;
}

.score-text {
  font-size: 1rem;
}

/*--Footer Icons--*/
#footer-main {
  display: block;
}

.github {
  font-size: 5rem;
  color: #ffffff;
  padding-right: 10px;
  padding-top: 20px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.github:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.slack {
  font-size: 5rem;
  color: #ffffff;
  padding-right: 10px;
  padding-top: 20px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.slack:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  
}

.landing-footer {
  background-color: #292e2f;
}

.correct-answer {
  color: #ffffff;
  background-color: #00ff00;
}

.wrong-answer {
  color: #ffffff;
  background-color: red;
}
